html, body, *{
  margin:0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  background-color: lightsalmon;
}

h3, h2, h1, p{
  background-color:transparent;
  }

  h2{
    font-size: 1.1rem;
  }
